@import "tailwindcss";

@font-face {
  font-family: "Clash Display";
  src:
    url("../../public/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("../../public/fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

:root {
  --text-base: 1.125rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
}

@media (min-width: 90rem) {
  :root {
    --text-base: 1.25rem;
    --text-lg: 3rem;
    --text-xl: 4.5rem;
  }
}

@theme {
  --breakpoint-lg: 90rem;
  --color-body: hsla(220, 16%, 38%, 1);
  --color-heading: hsla(219, 34%, 22%, 1);
}

@theme inline {
  --font-logo: var(--font-red-hat-display);
}

@layer base {
  body {
    font-family: var(--font-epilogue);
    color: var(--color-body);
    font-size: var(--text-base);
    line-height: 1.6;
  }

  h1,
  h2,
  h5 {
    font-family: "Clash Display";
    color: var(--color-heading);
    line-height: 1.1;
  }

  h1 {
    font-size: var(--text-xl);
  }

  h2 {
    font-size: var(--text-lg);
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .wrapper {
    width: min(100% - 1rem, 74.5rem);
    margin-inline: auto;
  }
}

@layer components {
  .category-grid {
    display: grid;
    gap: 32px;
  }

  @media (min-width: 90rem) {
    .category-grid {
      grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
    }
  }

  .featuredjobs-grid {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
  }

  @media (min-width: 90rem) {
    .featuredjobs-grid {
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    }
  }

  .latestjobs-grid {
    display: grid;
    column-gap: 32px;
    row-gap: 16px;
  }

  @media (min-width: 90rem) {
    .latestjobs-grid {
      grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
    }
  }

  .bleed-wrapper {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(20rem, 74.5rem) minmax(
        1rem,
        1fr
      );
  }

  .bleed-wrapper-even-columns {
    display: grid;
    grid-template-columns: subgrid;
    gap: 1rem;
  }

  @media (min-width: 90rem) {
    .bleed-wrapper-even-columns {
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: auto;
    }
  }

  .bevel {
    clip-path: polygon(
      20% 0%,
      100% 0,
      100% 20%,
      100% 91%,
      80% 100%,
      0 100%,
      0% 80%,
      0 10%
    );
  }

  .one-cut-corner {
    clip-path: polygon(
      20% 0%,
      80% 0%,
      100% 0,
      100% 100%,
      80% 100%,
      0 100%,
      0% 80%,
      0 10%
    );
  }
}
